.s-preSite {
	min-width: 100%;
	min-height: 90vh;
	padding: 60px 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	.u-container {
		max-width: 920px;
	}

	.c-brand {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 280px;
	}
	.c-article {
		margin-top: 20px;
		* {
			display: block;
			width: 100%;
			text-align: center;
			color: var(--white);
		}
	}
	.c-typingBox {
		margin-top: 35px;
	}

	.c-btn.--wpp {
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		background: var(--wpp__primary);
		border-radius: 80px;
		padding: 12px 35px;
		&:hover {
			background: var(--wpp__secondary);
		}
		&__caption {
			max-width: 280px;
		}
		* {
			text-align: center;
		}
	}

	.c-spacer {
		opacity: 0.25;
		margin-bottom: 40px;
		display: none;
	}

	.c-countdown {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 480px) {
	.s-preSite {
		padding: 40px 0;
		.c-article {
			h1 {
				font-size: 26px;
			}
		}
	}
}